# Localhost RPC URL
export LOCALHOST_RPC=http://127.0.0.1:8545

# Mainnet RPC URLs
export ETHEREUM_RPC=
export HYPEREVM_RPC=
export LINEA_RPC=
export BNB_RPC=
export MANTRA_RPC=

# Testnet RPC URLs
export SEPOLIA_RPC=
export HYPEREVM_TESTNET_RPC=
export PLUME_TESTNET_RPC=
export SONEIUM_TESTNET_RPC=

export PRIVATE_KEY=

export MIGRATION_ADMIN=
export HUB_VAULT=
export HUB_CHAIN_ID=

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=

# Verifier URLs (i.e. Etherscan or Blockscout API endpoints)
export MAINNET_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=1"
export ARBITRUM_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=42161"
export BSC_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=56"
export HYPEREVM_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=999"
export LINEA_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=59144"
export OPTIMISM_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=10"
export PLUME_VERIFIER_URL="https://explorer.plume.org/api/"

export SEPOLIA_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=11155111"
export ARBITRUM_SEPOLIA_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=421614"
export BSC_TESTNET_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=97"
export OPTIMISM_SEPOLIA_VERIFIER_URL="https://api.etherscan.io/v2/api?chainid=11155420"
export PLUME_TESTNET_VERIFIER_URL="https://testnet-explorer.plume.org/api/"
export SONEIUM_TESTNET_VERIFIER_URL="https://soneium-minato.blockscout.com/api"
