[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/common"]
	path = lib/common
	url = git@github.com:m0-foundation/common.git
[submodule "lib/openzeppelin"]
	path = lib/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
	branch = release-v5.3
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = git@github.com:OpenZeppelin/openzeppelin-contracts-upgradeable.git
	branch = release-v5.3
[submodule "lib/protocol"]
	path = lib/protocol
	url = git@github.com:m0-foundation/protocol.git
	branch = spoke
