# Compiler files
cache/
out/

# Ignores localhost and dry-run broadcast logs
/broadcast/*

!/broadcast/Deploy*
/broadcast/Deploy*/31337/
/broadcast/Deploy*/*/dry-run

!/broadcast/Configure*
/broadcast/Configure*/31337/
/broadcast/Configure*/*/dry-run

!/broadcast/Upgrade*
/broadcast/Upgrade*/31337/
/broadcast/Upgrade*/*/dry-run


# Coverage files
coverage/
lcov.info

# Docs
docs/

# Dotenv file
.env

# Mac OS files
.DS_Store

# NPM modules
node_modules

